<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Subject</title>
</head>
<body>
    <h2>Update Subject</h2>
    <form method="post" >
        {% csrf_token %}
        <label for="name">Subject Name:</label>
        <input type="text" name="name" id="name" value="{{ subject.name }}" required><br><br>

        <label for="course">Select Course:</label>
        <select name="course" id="course" required>
            {% for course in courses %}
                <option value="{{ course.id }}" {% if course.id == subject.course.id %}selected{% endif %}>{{ course.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Update Subject</button>
    </form>
</body>
</html>
