<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Subjects</title>
</head>
<body>
    <h2>All Subjects</h2>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.course.name }}</td>
                    <td>
                        <a href="subupd{{ subject.id }}">Edit</a> </td>
                       <td> <a href="subdel{{ subject.id }}">Delete</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
